<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.hellolyfVC.test.MyAccountRegressionSuite</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>chkChngPasswrd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>chkAppointmnt</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>chkSignOut</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>chkPendgConslt</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>appLaunch</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.hellolyfVC.test.LoginRegressionSuite</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyOpenFaq</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyInvalidLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyOpenFacebook</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyOpentrmandcondton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyOpenabtus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyOpenprivcypolcy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyOpenrefndpolicy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyOpenlitmusdx</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyOpenAdmin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyOpenrequrmtsystm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyValidLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySamePageOpening</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyLanguageChangetofrn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyLanguageChangetoportuges</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>appLaunch</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
