<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Hellolyf Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>21/04/01 13:54:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.appLaunch()[pri:0, instance:com.hellolyfVC.test.LoginRegressionSuite@7d9d1a19]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>21/04/01 13:54:31</td>   <td>7331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifySamePageOpening()[pri:0, instance:com.hellolyfVC.test.LoginRegressionSuite@7d9d1a19]">verifySamePageOpening</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>21/04/01 13:54:44</td>   <td>20382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeBrowser()[pri:0, instance:com.hellolyfVC.test.LoginRegressionSuite@7d9d1a19]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>21/04/01 13:54:49</td>   <td>25592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyAccountRegressionSuite.appLaunch()[pri:0, instance:com.hellolyfVC.test.MyAccountRegressionSuite@4f7d0008]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>21/04/01 13:54:55</td>   <td>30865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountRegressionSuite.chkSignOut()[pri:3, instance:com.hellolyfVC.test.MyAccountRegressionSuite@4f7d0008]">chkSignOut</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>21/04/01 13:55:12</td>   <td>48754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MyAccountRegressionSuite.closeBrowser()[pri:0, instance:com.hellolyfVC.test.MyAccountRegressionSuite@4f7d0008]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
</table>
