<h2>Methods that were not run</h2><table>
<tr><td>com.hellolyfVC.test.LoginRegressionSuite.verifyOpenprivcypolcy<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_006: Verifying after click on Privacy Policy link functionality</i></td></tr>
<tr><td>com.hellolyfVC.test.LoginRegressionSuite.verifyOpentrmandcondton<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_005: Verifying after click on Tears and Condition link functionality</i></td></tr>
<tr><td>com.hellolyfVC.test.LoginRegressionSuite.verifyOpenabtus<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_004: Verifying after click on About Us link functionality</i></td></tr>
<tr><td>com.hellolyfVC.test.LoginRegressionSuite.verifyOpenFacebook<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_0010: Verifying after click on FaceBook link functionality</i></td></tr>
<tr><td>com.hellolyfVC.test.LoginRegressionSuite.verifyInvalidLogin<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_0014: Verifying invalid login functionality</i></td></tr>
<tr><td>com.hellolyfVC.test.LoginRegressionSuite.verifyOpenFaq<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_009: Verifying after click on FAQ link functionality</i></td></tr>
<tr><td>com.hellolyfVC.test.LoginRegressionSuite.verifyLanguageChangetoportuges<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_003: Verifying Language Change to Potuguese functionality</i></td></tr>
<tr><td>com.hellolyfVC.test.LoginRegressionSuite.verifyValidLogin<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_0013: Verifying valid login functionality</i></td></tr>
<tr><td>com.hellolyfVC.test.LoginRegressionSuite.verifyLanguageChangetofrn<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_002: Verifying Language Change to French functionality</i></td></tr>
<tr><td>com.hellolyfVC.test.LoginRegressionSuite.verifyOpenrequrmtsystm<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_007: Verifying after click on Requirment System link functionality</i></td></tr>
<tr><td>com.hellolyfVC.test.LoginRegressionSuite.verifyOpenrefndpolicy<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_008: Verifying after click on Refund Policy link functionality</i></td></tr>
<tr><td>com.hellolyfVC.test.LoginRegressionSuite.verifyOpenAdmin<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_0012: Verifying after click on Admin under Dr. and Admin Page functionality</i></td></tr>
<tr><td>com.hellolyfVC.test.LoginRegressionSuite.verifyOpenlitmusdx<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_0011: Verifying after click on LitmuDX under Dr. and Admin Page functionality</i></td></tr>
<tr><td>com.hellolyfVC.test.MyAccountRegressionSuite.chkAppointmnt<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_001: Verifying Entering in Apointment section or Not</i></td></tr>
<tr><td>com.hellolyfVC.test.MyAccountRegressionSuite.chkChngPasswrd<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_001: Verifying Entering in Change Password section or Not</i></td></tr>
<tr><td>com.hellolyfVC.test.MyAccountRegressionSuite.chkPendgConslt<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_001: Verifying Entering in Pending Consultation section or Not</i></td></tr>
</table>