<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e965f5">  <td>22/06/28 22:36:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DoctorDetailsRegressionSuite.appLaunch()[pri:0, instance:com.hellolyfVC.test.DoctorDetailsRegressionSuite@3cebbb30]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@1241529534</td>   <td></td> </tr>
<tr bgcolor="e965f5">  <td>22/06/28 22:36:28</td>   <td>9464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DoctorDetailsRegressionSuite.verifyURLafterLogout()[pri:0, instance:com.hellolyfVC.test.DoctorDetailsRegressionSuite@3cebbb30]">verifyURLafterLogout</td> 
  <td>main@1241529534</td>   <td></td> </tr>
<tr bgcolor="e965f5">  <td>22/06/28 22:37:45</td>   <td>86706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DoctorDetailsRegressionSuite.closeBrowser()[pri:0, instance:com.hellolyfVC.test.DoctorDetailsRegressionSuite@3cebbb30]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1241529534</td>   <td></td> </tr>
</table>
